body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #292929;
    text-align: center;
}

main {
    color: red;
}

section {
    color: red;
}

canvas {
    cursor: crosshair;
}

.quadro {
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 900px;
    text-align: center;
    border: solid;
    margin: auto
}

footer {
    margin-top: 10px;
    color: red
}


/* canvas {
    cursor: none;
} */